/* Logo size */
.md-header__button.md-logo {
    width: 100px;
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
    width: 100%;
    height: 100%;
}

.md-header, .md-tabs {
    background-color: #08112C;
}

.aws {
    color: #FF3971;
}

.azure {
    color: #058ad7;
}

.google-cloud {
    color: #f3b706;
}